@model Compare.BLL.DTOs.Info.EditInformationDTO
@using Compare.BLL.DTOs.Configuration
@using Compare
@using Compare.Utilits
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Advertising"];
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";

    int lngIndex = 0;
}

<div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">@SharedLocalizer["Advertising"]</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm components-section">
            <div class="card-body">
                <div id="gridContainer">
                    <div class="row md-4">
                        <form asp-area="Administrator" asp-controller="Information" asp-action="EditAdvertising" method="post" id="form" enctype="multipart/form-data">
                            <div class="col-lg-12 col-sm-12">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="InformationStatus" />

                                @foreach (LanguageDTO languageDTO in ViewBag.Languages)
                                {
                                    var infoT = Model.InformationTranslates.FirstOrDefault(p => p.LanguageCulture == languageDTO.Culture);

                                    <input type="hidden" class="form-control" name="InformationTranslates[@lngIndex].LanguageCulture" value="@languageDTO.Culture" />

                                    <h3>@languageDTO.Name</h3>
                                    <hr />
                                    @if (infoT != null)
                                    {
                                        <input type="hidden" name="InformationTranslates[@lngIndex].Id" value="@infoT.Id" />
                                        <div class="mb-3">
                                            <label>@SharedLocalizer["Description"]</label>
                                            <div id="description-@lngIndex"></div>
                                        </div>
                                        <script>
                                    $(function () {
                                        $("#description-@lngIndex").dxHtmlEditor({
                                            height: 350,
                                            toolbar: {
                                                items: [
                                                    "undo", "redo", "separator",
                                                    {
                                                        formatName: "size",
                                                        formatValues: ["8pt", "10pt", "12pt", "14pt", "18pt", "24pt", "36pt"]
                                                    },
                                                    {
                                                        formatName: "font",
                                                        formatValues: ["Arial", "Courier New", "Georgia", "Impact", "Lucida Console", "Tahoma", "Times New Roman", "Verdana"]
                                                    },
                                                    "separator", "bold", "italic", "strike", "underline", "separator",
                                                    "alignLeft", "alignCenter", "alignRight", "alignJustify", "separator",
                                                    "orderedList", "bulletList", "separator",
                                                    {
                                                        formatName: "header",
                                                        formatValues: [false, 1, 2, 3, 4, 5]
                                                    }, "separator",
                                                    "color", "background", "separator",
                                                    "link", "image", "separator",
                                                    "clear", "codeBlock", "blockquote", "separator",
                                                    "insertTable", "deleteTable",
                                                    "insertRowAbove", "insertRowBelow", "deleteRow",
                                                    "insertColumnLeft", "insertColumnRight", "deleteColumn"
                                                ]
                                            },
                                            name: `InformationTranslates[@lngIndex].Description`,
                                            value: `@Html.Raw(infoT.Description)`
                                        }).dxValidator({
                                            validationRules: [{
                                                type: "required",
                                                message: '@SharedLocalizer["Enter description"]'
                                            }]
                                        }).dxTextBox("instance");
                                    });
                                        </script>
                                    }
                                    else
                                    {
                                        <div class="mb-3">
                                            <label>@SharedLocalizer["Description"]</label>
                                            <div id="description-@lngIndex"></div>
                                        </div>
                                        <script>
                                    $(function () {
                                        $("#description-@lngIndex").dxHtmlEditor({
                                            height: 350,
                                            toolbar: {
                                                items: [
                                                    "undo", "redo", "separator",
                                                    {
                                                        formatName: "size",
                                                        formatValues: ["8pt", "10pt", "12pt", "14pt", "18pt", "24pt", "36pt"]
                                                    },
                                                    {
                                                        formatName: "font",
                                                        formatValues: ["Arial", "Courier New", "Georgia", "Impact", "Lucida Console", "Tahoma", "Times New Roman", "Verdana"]
                                                    },
                                                    "separator", "bold", "italic", "strike", "underline", "separator",
                                                    "alignLeft", "alignCenter", "alignRight", "alignJustify", "separator",
                                                    "orderedList", "bulletList", "separator",
                                                    {
                                                        formatName: "header",
                                                        formatValues: [false, 1, 2, 3, 4, 5]
                                                    }, "separator",
                                                    "color", "background", "separator",
                                                    "link", "image", "separator",
                                                    "clear", "codeBlock", "blockquote", "separator",
                                                    "insertTable", "deleteTable",
                                                    "insertRowAbove", "insertRowBelow", "deleteRow",
                                                    "insertColumnLeft", "insertColumnRight", "deleteColumn"
                                                ]
                                            },
                                            name: `InformationTranslates[@lngIndex].Description`
                                        }).dxValidator({
                                            validationRules: [{
                                                type: "required",
                                                message: '@SharedLocalizer["Enter description"]'
                                            }]
                                        }).dxTextBox("instance");
                                    });
                                        </script>
                                    }

                                    lngIndex++;
                                }

                                <br />
                                <div id="summary"></div>
                                <br />
                                <div id="button"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {

            $("#button").dxButton({
                text: '@SharedLocalizer["Edit"]',
                type: "success",
                useSubmitBehavior: true,
            });
            $("#summary").dxValidationSummary({});

        });

    </script>

}