@using Compare.Utilits;
@using Compare
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Prices of goods of organizations"];
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">@SharedLocalizer["Prices of goods of organizations"]</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm components-section">
            <div class="card-body">
                <div id="gridContainer">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            let url = `@API.GetAllOrganizationProducts`;
            let removeOrgProd = `@API.RemoveOrganizationProduct`;
            var returnUrl = '@Context.Request.Path@Context.Request.QueryString';

            $("#gridContainer").dxDataGrid({
                dataSource: new DevExpress.data.DataSource({
                    store: new DevExpress.data.AspNet.createStore({
                        key: "id",
                        loadUrl: url,
                        insertUrl: '',
                        updateUrl: '',
                        deleteUrl: removeOrgProd,
                        onBeforeSend: function (method, ajaxOptions) {
                            ajaxOptions.xhrFields = { withCredentials: true };
                        }
                    }),
                    paginate: true,
                    pageSize: 100
                }),
                onInitNewRow: function(e) {
                    var url = `@Url.Action("CreateOrganizationProduct", "Organization", new { Area = "Administrator" })`;
                    window.location = url;
                },
                selection: {
                    mode: "multiple"
                },
                "export": {
                    enabled: true,
                    fileName: "OrganizationProductPrice",
                    allowExportSelectedData: true
                },
                filterPanel: {
                    visible: false
                },
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                remoteOperations: true,
                onRowUpdating: function (e) {
                    e.newData = Object.assign(e.oldData, e.newData)
                },
                scrolling: {
                    mode: "virtual",
                    rowRenderingMode: "virtual"
                },
                paging: {
                    pageSize: 100
                },
                editing: {
                    useIcons: true,
                    allowUpdating: true,
                    allowDeleting: true,
                    allowAdding: true
                },
                headerFilter: {
                    visible: true
                },
                columnChooser: {
                    enabled: true
                },
                allowColumnReordering: true,
                columnFixing: {
                    enabled: true
                },
                remoteOperations: { groupPaging: true },
                grouping: {
                    autoExpandAll: false
                },
                groupPanel: {
                    visible: true
                },
                wordWrapEnabled: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                searchPanel: {
                    visible: true
                },
                stateStoring: {
                    enabled: true,
                    type: "localStorage",
                    storageKey: "organizationProductPriceAdmin"
                },
                columns: [
                    {
                        caption: '@SharedLocalizer["Product name"]',
                        dataField: "productName",
                        allowHeaderFiltering: false
                    },
                    {
                        caption: '@SharedLocalizer["Organization product id"]',
                        dataField: "organizationProductId",
                        allowHeaderFiltering: false
                    },
                    {
                        caption: '@SharedLocalizer["Organization name"]',
                        dataField: "organizationName",
                        allowHeaderFiltering: false
                    },
                    {
                        caption: '@SharedLocalizer["Price"]',
                        dataField: "price",
                        allowHeaderFiltering: false
                    },
                    {
                        caption: '@SharedLocalizer["Organization product url"]',
                        dataField: "organizationProductUrl",
                        allowHeaderFiltering: false,
                        visible: false
                    },
                    {
                        caption: '@SharedLocalizer["In stock"]',
                        dataField: "inStock",
                        allowHeaderFiltering: false,
                        visible: false
                    },
                    {
                        caption: '@SharedLocalizer["Official dealer"]',
                        dataField: "officialDealer",
                        allowHeaderFiltering: false,
                        visible: false
                    },
                   {
                        type: "buttons",
                        GetAllOrganizationProductsidth: 110,
                        buttons: [
                            {
                                hint: '@SharedLocalizer["Edit"]',
                                icon: "edit",
                               onClick: function (e) {
                                    var idString = e.row.data.id;
                                    var url = `@Url.Action("EditOrganizationProduct", "Organization", new { Area = "Administrator" })`;
                                    window.location = url + '?id=' + idString;
                                }
                            },
                            "delete"
                        ]
                    }
                ]
            });

        });
    </script>
}