@model Compare.BLL.DTOs.ProductAttributeTemplate.EditProductAttributeTemplateDTO
@using Compare.BLL.DTOs.Configuration;
@using Compare
@using Compare.Utilits
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Editing attribute template"];
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";

    int lngIndex = 0;
    int prdIndx = 0;
}

<div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">@SharedLocalizer["Editing attribute template"]</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm components-section">
            <div class="card-body">
                <div id="gridContainer">
                    <div class="row md-4">
                        <form asp-area="Administrator" asp-controller="ProductAttributeTemplate" asp-action="Edit" method="post" id="form" enctype="multipart/form-data">
                            <div class="col-lg-12 col-sm-12">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />

                                @foreach (LanguageDTO languageDTO in ViewBag.Languages)
                                {
                                    var plT = Model.ProductAttributeTemplateTranslates.FirstOrDefault(p => p.LanguageCulture == languageDTO.Culture);

                                    <input type="hidden" class="form-control" name="ProductAttributeTemplateTranslates[@lngIndex].LanguageCulture" value="@languageDTO.Culture" />

                                    <h2>@languageDTO.Name</h2>
                                    <hr />
                                    @if (plT != null)
                                    {
                                        <input type="hidden" name="ProductAttributeTemplateTranslates[@lngIndex].Id" value="@plT.Id" />
                                        <div class="mb-3">
                                            <label>@SharedLocalizer["Name"] *</label>
                                            <div id="name-@lngIndex"></div>
                                        </div>
                                        <script>
                                            $(function () {
                                                $("#name-@lngIndex").dxTextBox({
                                                    name: "ProductAttributeTemplateTranslates[@lngIndex].Name",
                                                    value: @Json.Serialize(plT.Name)
                                                    }).dxValidator({
                                                        validationRules: [{
                                                            type: "required",
                                                            message: '@SharedLocalizer["Enter name"]'
                                                        }]
                                                    }).dxTextBox("instance");
                                            });
                                        </script>
                                    }
                                    else
                                    {
                                        <div class="mb-3">
                                            <label>@SharedLocalizer["Name"] *</label>
                                            <div id="product-name-@lngIndex"></div>
                                        </div>
                                        <script>
                                            $(function () {
                                                $("#name-@lngIndex").dxTextBox({
                                                    name: "ProductAttributeTemplateTranslates[@lngIndex].Name"
                                                    }).dxValidator({
                                                        validationRules: [{
                                                            type: "required",
                                                            message: '@SharedLocalizer["Enter name"]'
                                                        }]
                                                    }).dxTextBox("instance");
                                            });
                                        </script>
                                        <br />
                                    }

                                    lngIndex++;
                                }

                                <h2>@SharedLocalizer["Data"]</h2>
                                <hr />
                                <div class="mb-3">
                                    <label>@SharedLocalizer["Options"]</label>
                                    <div id="optionSelection"></div>
                                </div>

                                <br />
                                <div id="summary"></div>
                                <br />
                                <div id="button"></div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        let getOptions = `@API.GetAllProductOptions`;

        $(function () {
            $("#optionSelection").dxTagBox({
                dataSource: new DevExpress.data.DataSource({
                    store: new DevExpress.data.AspNet.createStore({
                        key: "id",
                        loadUrl: getOptions,
                        loadMode: "raw",
                        onBeforeSend: function (method, ajaxOptions) {
                            ajaxOptions.xhrFields = { withCredentials: true };
                        }
                    }),
                    paginate: true,
                    pageSize: 30
                }),
                searchEnabled: true,
                displayExpr: "name",
                valueExpr: "id",
                name: "ProductOptionId",
                value: @Html.Raw(Json.Serialize(Model.ProductOptionId)),
            }).dxValidator({
                validationRules: [{
                    type: "required",
                    message: '@SharedLocalizer["Select options"]'
                }]
            });

            $("#button").dxButton({
                text: '@SharedLocalizer["Edit"]',
                type: "success",
                useSubmitBehavior: true,
            });
            $("#summary").dxValidationSummary({});
        });
    </script>

}